<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Women's Football data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <h1>Browse different leagues</h1>
    <nav>
    <ul>
        <li><a href="{{ url_for('leagues.wsl_data') }}">Women's super league</a></li>
        <li><a href="{{ url_for('leagues.pl_fra_data') }}">Arkema Première League</a></li>
        <li><a href="{{ url_for('leagues.bundes_data') }}">Frauen-Bundesliga</a></li>
        <li><a href="{{ url_for('leagues.liga_data') }}">Liga F</a></li>
        <li><a href="{{ url_for('leagues.seriea_data') }}">Serie A Women</a></li>
        <li><a href="{{ url_for('leagues.nwsl_data') }}">National Women's Soccer League</a></li>
    </ul>
    </nav>
</body>
</html>
